<h1> Todo App </h1>
<div class="row">
  <div class="col-md-12">
    <label>Name:</label>
    <input class="form-control" type="text" name="name" [(ngModel)]="todo.name">
    <label>Description</label>
    <input class="form-control" type="text" name="description" [(ngModel)]="todo.description">
    <button class="btn btn-primary" (click)="save(todo)">Save</button>
  </div>
</div>

<ul >
  <li *ngFor="let t of todoList">
    <h3>{{ t.name }}</h3>
    <span>{{ t.description }}</span>
    <span>{{ t.isDone }}</span>
    <span>{{ t.datecreated | date: 'yyyy-MM-dd HH:mm' }}</span>
  </li>
</ul>